rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read/write access to tasks collection
    match /tasks/{document} {
      allow read, write: if true;
    }
    
    // Allow read/write access to projects collection
    match /projects/{document} {
      allow read, write: if true;
    }
  }
} 